footer.footer
	.container
		.footer__inner
			.footer__left
				a.logo.logo--infooter(href='index.html')
					img.logo__img(src='img/logo.png', alt='')
				p
					| Информация взята из открытых источников, не является публичной офертой и распространяется для ознакомления
			.footer__right
				a.btn.btn--ghost(href='#' data-toggle='modal', data-target='.callback') Заказать звонок
				.phone.phone--infooter +7 (812) 303 66 51
.pop-up
	a.close(href="#") &times;
	.left-block
		img(src="img/key.svg", alt="#")
	.right-block
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam laborum assumenda provident magnam consequatur nihil.
.modal.fade.callback(role='dialog')
	.modal-dialog.modal-sm
		.modal-content
			h2 Заполните форму
			form.form(action='' method="post")
				input.form__input(type='text', placeholder='Ваше имя' name="name" required)
				input.form__input(type='tel', placeholder='Ваш телефон' name="phone" required)
				input(type="hidden" value="pop_up" name="forms_name")
				button.btn.btn--accent Заказать звонок
				.acton-2__text Ваши данные защищены

