header.header
	.container
		.header__inner
			.header__left
				a.logo(href='index.html')
					img.logo__img(src='img/logo.png', alt='')
			.header__center
				ul.header__nav
					li
						a(href='#') Главная
					li
						a(href='#') Расположение
					li
						a(href='#') Инфраструктура
					li
						a(href='#') Планировка и цены
					li
						a(href='#') Оплата
			.header__right
				a.btn.btn--ghost(href='#' data-toggle='modal', data-target='.callback') Заказать звонок
				.phone +7 (812) 303 66 51
			a.mob_menu_link(href='#')
				span
				span
				span

