
<section class="offer">
  <div class="container">
    <div class="offer__inner">
      <div class="offer__text">
        <h1 class="offer__title">Апартаменты бизнес-класса</h1><img class="offer__logo" src="img/neopark.png" alt=""/><a class="btn btn--accent" href="#" data-toggle="modal" data-target=".callback">Заказать просмотр</a>
      </div>
    </div>
  </div>
</section>
<section class="section location">
  <div class="container">
    <div class="section__inner section__inner--location">
      <div class="section__header">
        <h2 class="section__title">Местоположение</h2>
        <div class="section__subtitle">Удобное для всей семьи</div>
      </div>
      <div class="location__desc">
        <p>Комплекс располагается в особенной<br/> части Московского района.</p>
        <p>Близость к историческому центру,<br/>транспортная доступность, большое<br/>количество парков, что в комплексе<br/>обеспечивает высокое качество жизни.</p>
      </div>
      <div class="location__right">
        <div class="location__advantages">
          <ul class="advantages-loc">
            <li><span class="advantages-loc__title">Звёздная</span><span class="advantages-loc__desc">15 мин пешком</span></li>
            <li><span class="advantages-loc__title">Аэропорт Пулково</span><span class="advantages-loc__desc">10 мин на машине</span></li>
            <li><span class="advantages-loc__title">Исторический центр</span><span class="advantages-loc__desc">20 мин на машине</span></li>
          </ul>
        </div>
        <div class="location__img-wrap"><img class="location__img" src="img/location.jpg" alt=""/></div>
      </div>
      <div class="location__form-wrap">
        <form class="form" action="" method="post">
          <div class="form__title">Узнать подробнее</div>
          <input class="form__input" type="text" placeholder="Ваше имя" name="name" required="required"/>
          <input class="form__input" type="tel" placeholder="Ваш телефон" name="phone" required="required"/>
          <input type="hidden" value="Узнать подробнее" name="forms_name"/>
          <button class="btn btn--ghost btn--bronze">Заказать звонок</button>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="section advantages">
  <div class="container">
    <div class="section__inner section__inner--advantages">
      <div class="section__header">
        <h2 class="section__title">Дом твоей мечты</h2>
        <div class="section__subtitle">Продуманный до мелочей</div>
      </div>
    </div>
  </div>
  <div class="advantages__content">
    <div class="container">
      <div class="advantages__cards">
        <div class="advantage-card advantage-card--water">
          <h3 class="advantage-card__title">Вода</h3>
          <div class="advantage-card__desc">Многоступенчатая система<br/>							очистки водопроводной воды</div>
        </div>
        <div class="advantage-card advantage-card--parking">
          <h3 class="advantage-card__title">Паркинг</h3>
          <div class="advantage-card__desc">Подземный паркинг и наземная<br/>							парковка с зарядным устройством</div>
        </div>
        <div class="advantage-card advantage-card--design">
          <h3 class="advantage-card__title">Дизайн</h3>
          <div class="advantage-card__desc">Благоустройство с ландшафтным дизайном<br/>							и тильная подсветка фасадов</div>
        </div>
        <div class="advantage-card advantage-card--apartment">
          <h3 class="advantage-card__title">Апартаменты</h3>
          <div class="advantage-card__desc">Просторные и светлые апартаменты с<br/>							панорамными окнами высотой ~ 1.95 м</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section layout">
  <div class="container">
    <div class="section__inner section__inner--layout">
      <div class="section__header">
        <h2 class="section__title">Варианты планировок</h2>
        <div class="section__subtitle">Вашего будущего дома</div>
      </div>
      <div class="tabs" id="tabs">
        <div class="tabs__links">
          <div class="tab active">Студии</div>
          <div class="tab">2-комнатные</div>
          <div class="tab">3-комнатные</div>
        </div>
        <div class="tabContent">
          <div class="slider-project">
            <div class="item">
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-1.jpg" data-fancybox="" data-caption="Евродвушка - от 40 м2"><img class="layout-card__img" src="img/layout-1.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка</h3>
                  <div class="layout-card__desc">от 40 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка - от 40 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-2.jpg" data-fancybox="" data-caption="Евродвушка с балконом - от 45 м2"><img class="layout-card__img" src="img/layout-2.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка с балконом</h3>
                  <div class="layout-card__desc">от 45 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка - от 40 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-1.jpg" data-fancybox="" data-caption="Евродвушка - от 40 м2"><img class="layout-card__img" src="img/layout-1.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка</h3>
                  <div class="layout-card__desc">от 40 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка - от 40 м2" name="aparnmeapartmentnt"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-2.jpg" data-fancybox="" data-caption="Евродвушка с балконом - от 45 м2"><img class="layout-card__img" src="img/layout-2.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка с балконом</h3>
                  <div class="layout-card__desc">от 45 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка с балконом - от 45 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabContent">
          <div class="slider-project">
            <div class="item">
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-2.jpg" data-fancybox="" data-caption="Евродвушка с балконом - от 45 м2"><img class="layout-card__img" src="img/layout-2.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка с балконом</h3>
                  <div class="layout-card__desc">от 45 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка с балконом - от 45 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-1.jpg" data-fancybox="" data-caption="Евродвушка - от 40 м2"><img class="layout-card__img" src="img/layout-1.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка</h3>
                  <div class="layout-card__desc">от 40 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка - от 40 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-1.jpg" data-fancybox="" data-caption="Евродвушка - от 40 м2"><img class="layout-card__img" src="img/layout-1.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка</h3>
                  <div class="layout-card__desc">от 40 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка - от 40 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-2.jpg" data-fancybox="" data-caption="Евродвушка с балконом - от 45 м2"><img class="layout-card__img" src="img/layout-2.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка с балконом</h3>
                  <div class="layout-card__desc">от 45 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка с балконом - от 45 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabContent">
          <div class="slider-project">
            <div class="item">
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-1.jpg" data-fancybox="" data-caption="Евродвушка - от 40 м2"><img class="layout-card__img" src="img/layout-1.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка</h3>
                  <div class="layout-card__desc">от 40 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка - от 40 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-2.jpg" data-fancybox="" data-caption="Евродвушка с балконом - от 45 м2"><img class="layout-card__img" src="img/layout-2.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка с балконом</h3>
                  <div class="layout-card__desc">от 45 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка с балконом - от 45 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-1.jpg" data-fancybox="" data-caption="Евродвушка - от 40 м2"><img class="layout-card__img" src="img/layout-1.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка</h3>
                  <div class="layout-card__desc">от 40 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка - от 40 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-2.jpg" data-fancybox="" data-caption="Евродвушка с балконом - от 45 м2"><img class="layout-card__img" src="img/layout-2.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка с балконом</h3>
                  <div class="layout-card__desc">от 45 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка с балконом - от 45 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section presentation">
  <div class="container">
    <div class="section__inner section__inner--presentation">
      <div class="action-block action-block--presentation">
        <h2 class="action-block__title">Скачайте презентацию<br/>жилого комплекса</h2>
        <div class="action-block__desc">Планировки и цены на квартиры в нашем PDF-буклете<br/>жилого комплекса NEOPARK</div><a class="btn btn--accent" href="files/buklet_s_planirovkami_neopark.pdf" target="_blank" download="download">Скачать буклет прямо сейчас</a>
        <div class="action-block__text">Скачать в 1 клик</div>
      </div>
    </div>
  </div>
</section>
<section class="section conditions">
  <div class="container">
    <div class="section__inner section__inner--conditions">
      <div class="section__header">
        <h2 class="section__title">Условия покупки</h2>
        <div class="section__subtitle">Выберите вариант</div>
      </div>
      <div class="conditions__content">
        <div class="conditions__item">
          <h3 class="conditions__item-title">100% оплата</h3>
          <div class="conditions__item-desc">Рассрочка до сдачи объекта<br/>в эксплуатацию</div><a class="conditions__item-link" href="#">Узнать подробнее</a>
        </div>
        <div class="conditions__item">
          <h3 class="conditions__item-title">Первый взнос от 10%</h3>
          <div class="conditions__item-desc">Низкая стоимость, простое<br/>оформление документов</div><a class="conditions__item-link" href="#">Узнать подробнее</a>
        </div>
        <div class="conditions__item">
          <h3 class="conditions__item-title">Ипотека</h3>
          <div class="conditions__item-desc">Более 20 банков, свой<br/>ипотечный отдел</div><a class="conditions__item-link" href="#">Узнать подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section view">
  <div class="container">
    <div class="section__inner section__inner--view">
      <div class="section__header">
        <h2 class="section__title">Дом у парка</h2>
        <div class="section__subtitle">Вид из вашего окна</div>
      </div>
      <div class="view__content">
        <div class="view__marker"><span></span>Живописный Пулковский парк</div>
      </div>
    </div>
  </div>
</section>
<section class="section photogallery">
  <div class="container">
    <div class="section__inner section__inner--photogallery">
      <div class="section__header">
        <h2 class="section__title">Галерея Neo<span>park</span></h2>
        <div class="section__subtitle">Вдохновитесь фотографиями</div>
      </div>
      <div class="gallery-slider">
        <div class="item"><img src="img/slide-1.jpg" alt="#"/></div>
        <div class="item"><img src="img/slide-2.jpg" alt="#"/></div>
        <div class="item"><img src="img/slide-3.jpg" alt="#"/></div>
        <div class="item"><img src="img/slide-1.jpg" alt="#"/></div>
        <div class="item"><img src="img/slide-2.jpg" alt="#"/></div>
      </div>
    </div>
  </div>
</section>
<section class="section action-1">
  <div class="container">
    <div class="section__inner section__inner--action-1">
      <div class="action-block action-block--action-1">
        <h2 class="action-block__title">Запишитесь на бесплатную<br/>						экскурсию</h2>
        <div class="action-block__desc">Оставьте заявку и мы организуем для вас экскурсию<br/>						по проекту в сопровождении профессионального<br/>						консультанта</div>
        <div class="action-1__form-wrap">
          <form class="form" action="" method="post">
            <div class="form__title">Узнать подробнее</div>
            <input class="form__input" type="text" placeholder="Ваше имя" name="name" required="required"/>
            <input class="form__input" type="tel" placeholder="Ваш телефон" name="phone" required="required"/>
            <input type="hidden" value="Узнать подробнее 2" name="forms_name"/>
            <button class="btn btn--ghost btn--bronze">Заказать звонок</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section acton-2">
  <div class="container">
    <div class="section__inner section__inner--action-2">
      <div class="section__header">
        <h2 class="section__title">Дизайн квартир</h2>
        <div class="section__subtitle">В жилом комплексе<span>neo</span>park</div>
      </div>
      <div class="acton-2__content">
        <div class="acton-2__block">
          <h3 class="acton-2__title">Хотите посмотреть?</h3>
          <form class="acton-2__form" action="" method="post">
            <input class="acton-2__input" type="text" placeholder="Введите имя" name="name" required="required"/>
            <input class="acton-2__input" type="tel" placeholder="Введите телефон" name="phone" required="required"/>
            <input class="acton-2__input" type="email" placeholder="Введите email" name="email" required="required"/>
            <input type="hidden" value="Дизайн квартир" name="forms_name"/>
            <button class="btn btn--accent btn--full acton-2__btn">Записаться на просмотр</button>
            <div class="acton-2__text">Ваши данные защищены</div>
          </form>
        </div>
      </div>
    </div>
  </div><img class="acton-2__lamp-1" src="img/lamp-1.png" alt=""/><img class="acton-2__lamp-2" src="img/lamp-2.png" alt=""/><img class="acton-2__sofa" src="img/sofa.jpg" alt=""/>
</section>
<section class="section acton-3">
  <div class="container">
    <div class="section__inner section__inner--action-3">
      <div class="action-block action-block--action-3">
        <h2 class="action-block__title">Пройдите тест<br/>и получите  расчет по ипотеке</h2>
        <div class="action-block__desc">5 еффективных вопросов, которые помогут выбрать<br/>подходящую ипотечную программу</div><a class="btn btn--accent action-3__btn" href="#">Начать тест</a>
      </div>
    </div>
  </div>
</section>
<section class="section map">
  <div class="container">
    <div class="section__inner section__inner--map clearfix">
      <div class="map__block">
        <ul class="map__nav">
          <li class="map__item map__item--neo">ЖК<strong>NEO</strong>PARK</li>
          <li class="map__item map__item--clinic">Клиника Звездная</li>
          <li class="map__item map__item--torg">Торговый Двор</li>
          <li class="map__item map__item--shop">Магазин Перекрёсток</li>
          <li class="map__item map__item--school">Школа</li>
          <li class="map__item map__item--child">Детский сад</li>
          <li class="map__item map__item--bat">Батутный комплекс</li>
          <li class="map__item map__item--luk">Лукойл</li>
        </ul>
      </div><img class="map__neo-loc" src="img/ico-circle.png" alt=""/>
    </div>
  </div>
</section>