doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Test Pug Page
        link(href="css/main.css" rel="stylesheet")
        //(if lt IE 9)
        script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
        script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
        //(endif)
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@8")
    body
        include layout/header.pug
        include layout/content.pug
        include layout/footer.pug
        script(src="js/build.js")
