/**
 *
 * Header styles
 *
 */

.header {
	background: url("../img/header-bg.jpg") no-repeat center top;
	background-size: cover;
	transform: translateY(-100%);
	position: relative;
	animation: top 0.5s ease-in-out;
	animation-fill-mode:forwards;
	animation-delay: 3.5s;
}
@keyframes top{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(0%);
	}
}
.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
}
.header__right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.logo {
	position: relative;
	display: inline-block;
}
.header__nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	font-size: 16px;
	li {
		a {
			padding: 8px 12px;
			color: #fff;
			display: block;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0;
				height: 1px;
				background: rgba(255, 255, 255, 0.5);
				transform: translateX(12px);
				transition: width .3s ease-in-out;
			}
		}
		&:hover a:after {
			width: 35%;
		}
	}
}
.phone {
	color: #fff;
	font-weight: 900;
	font-size: 20px;
	margin-left: 35px;
	position: relative;
	padding-left: 21px;
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 15px;
		height: 15px;
		background: url("../img/ico-phone.png") no-repeat;
	}
}
.mob_menu_link {
	display: none;
	width: 35px;
	height: 23px;
	span {
		position: relative;
		display: block;
		width: 35px;
		height: 4px;
		margin: 0 auto;
		transition: .2s linear;
		background: #fff;
		+ span {
			margin-top: 5px;
		}
	}
	&.active span {
		&:nth-child(1) {
			top: 9px;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&:nth-child(2) {
			opacity: 0;
		}
		&:nth-child(3) {
			top: -9px;
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
	}
}
