


/**
 *
 * General styles
 *
 */
body{
	width: 100vw;
	overflow-x: hidden;
	overflow-y: hidden;
	animation: overflow  0.5s ease-in-out;
	animation-fill-mode:forwards;
	animation-delay: 4s;
}
@keyframes overflow{
	0%{
		overflow-y: hidden;
	}
	100%{
		overflow-y: auto;
	}
}
body {
	font-family: 'Museo Sans Cyrl', sans-serif;
	font-size: 17px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.06em;
	color: #2e2e2e;
}
a {
	text-decoration: none;
}
p {
	line-height: 1.3em;
}
input {
	&[type="text"],
	&[type="email"],
	&[type="tel"] {
		border: none;
		border-bottom: 1px solid #969696;
		color: #969696;
		font-weight: 700;
		font-size: 16px;
		outline: none;
		padding: 8px 0 3px 0;
		background: transparent;
	}
}
::-webkit-input-placeholder {
	/* Chrome */
	opacity: 0.8;
}
:-ms-input-placeholder {
	/* IE 10+ */
	opacity: 0.8;
}
::-moz-placeholder {
	/* Firefox 19+ */
	opacity: 0.8;
}
:-moz-placeholder {
	/* Firefox 4 - 18 */
	opacity: 0.8;
}
button {
	outline: none;
}
.container {
	max-width: 1434px;
	margin: 0 auto;
	padding: 0 30px;
}
.clearfix:after {
	content: " ";
	clear: both;
	display: table;
}

/* Form Styles */

.form {
	display: flex;
	flex-wrap: wrap;
	/*align-items: center;*/
	width: 762px;
}
.form__title {
	font-size: 22px;
	font-weight: 900;
	width: 100%;
	margin-bottom: 22px;
}
.form__input {
	width: 250px;
	margin-right: 23px;
}
.form .btn {
	letter-spacing: 0.07em;
}

/* Buttons styles */

.btn {
	display: inline-flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	height: 40px;
	color: #fff;
	font-weight: 900;
	font-size: 16px;
	padding: 0 24px;
	position: relative;
	cursor: pointer;
	border: none;
}
.btn--ghost {
	background: transparent;
	border: none;
	padding: 0 17px;
	transition: all 0.5s ease;
	&:hover{
		background: #fff;
		color: #CE9555;
	}
	&:before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: -3px;
		left: -3px;
		border: 1px solid #fff;
	}
	&:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: -3px;
		right: -3px;
		border: 1px solid #fff;
	}
}
.btn--accent {
	background: #CE9555;
	background: linear-gradient(-45deg, #CE9555, #E8D797,#CE9555, #E8D797);
	background: -webkit-linear-gradient(left, #CE9555, #E8D797,#CE9555, #E8D797);
	background: -moz-linear-gradient(left, #CE9555, #E8D797,#CE9555, #E8D797);
	padding: 0 30px;
	height: 51px;
	animation-direction: alternate !important;
	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
	transition: all 0.5s ease;
	&:hover{
		background: linear-gradient(-45deg, #af7534, #CE9555);
		background: -webkit-linear-gradient(left, #af7534, #CE9555);
		background: -moz-linear-gradient(left, #af7534, #CE9555);
	}
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
.btn--full {
	width: 100%;
}
.btn--bronze {
	color: #ce9455;
	transition: all 0.5s ease;
	padding: 0 31px;
	&:before,
	&:after {
		border: 1px solid #ce9455;
	}
	&:hover{
			background: #af7534;
			color: #fff ;
		&:before,
		&:after {
			border: 1px solid #af7534;
		}
	}
}



/**
 *
 * Offer styles
 *
 */

.offer {
	background: url("../img/section-bg-1.jpg") no-repeat center top;
	background-size: cover;
	margin-bottom: 103px;
	opacity: 0;
	transition: all 0.5s linear;
	animation: opacity  0.5s ease-in-out;
	animation-fill-mode:forwards;
	animation-delay: 0.5s;
}
@keyframes opacity{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.offer__inner {
	height: calc(100vh - 90px);
	position: relative;
}
.offer__text {
	display: inline-block;
	width: 37.761vw;
	height: auto;
	padding: 71px 71px 151px 127px;
	box-sizing: border-box;
	background: url("../img/offer-text-bg.png") no-repeat;
	background-size: cover;
	position: absolute;
	bottom: -40px;
	transform: translateX(-5.3vw);
	box-shadow: 0 9px 51px rgba(0, 0, 0, 0.2);
	padding: 3.698vw 3.698vw 7.865vw 6.615vw;
	left: -150%;
	transition: all 1s linear;
	animation: left  0.5s ease-in-out;
	animation-fill-mode:forwards;
	animation-delay: 1s;
	.btn--accent{
		opacity: 0;
		animation: opacity 0.5s 3s forwards ease-in-out ;
	}
}
@keyframes left{
	0%{
		left: -150%;
	}
	100%{
		left: 0%;
	}
}
.offer__title {
	font-weight: 300;
	line-height: 50px;
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 1.823vw 0;
	padding: 0 0 1.3022vw;
	position: relative;
	letter-spacing: 0.06em;
	font-size: 2.292vw;
	opacity: 0;
	animation: opacity  0.5s ease-in-out;
	animation-fill-mode:forwards;
	animation-delay: 1.5s;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: -22px;
		width: 8.334vw;
		height: 1px;
		background: #fff;
		animation: after  0.5s ease-in-out;
		animation-fill-mode:forwards;
		transform: translateX(-300%);
		animation-delay: 2.5s;

	}
}
@keyframes after{
	0%{
		transform: translateX(-300%)
	}
	100%{
		transform: translateX(0%)
	}
}
.offer__logo {
	max-width: 100%;
	height: auto;
	margin: 0 0 2.709vw;
	width: 23.5vw;
	opacity: 0;
	animation: opacity  1s ease-in-out;
	animation-fill-mode:forwards;
	animation-delay: 2s;
}

/**
 *
 * Section styles
 *
 */

.section__inner {
	padding: 63px 0;
}
.section__header {
	text-transform: uppercase;
	position: relative;
	padding: 0 0 0 25px;
	margin-bottom: 45px;
	z-index: 0;
	&:before {
		content: '';
		position: absolute;
		top: -28px;
		left: 0;
		width: 71px;
		height: 80px;
		border: 6px solid #f4e8da;
		box-sizing: border-box;
		z-index: -1;
	}
}
.section__title {
	font-size: 28px;
	font-weight: 900;
	margin: 28px 0 18px 0;
	z-index: 10;
	span {
		font-weight: 500;
	}
}
.section__subtitle {
	font-size: 28px;
	font-weight: 100;
	padding: 0 0 0 54px;
	z-index: 10;
	span {
		font-weight: 500;
	}
}
.section__inner--advantages {
	padding: 63px 0 0 0;
}
.section__inner--presentation {
	padding: 262px 0 155px 0;
}
.section__inner--view {
	height: 680px;
}

/**
 *
 * Location - section styles
 *
 */

.location {
	position: relative;
}
.location__desc {
	font-size: 16px;
	width: 32.00836820083682%;
	p {
		margin-bottom: 15px;
		&:last-of-type{
			margin-bottom: 0;
		}
	}
}
.location__right {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
}
.location__img-wrap {
	width: 37.62626262626263vw;
	height: 544px;
	position: relative;
}
.location__img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	object-fit: cover;
}
.location__advantages {}
.advantages-loc {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	li {
		margin-bottom: 56px;
		display: flex;
		flex-direction: column;
		position: relative;
		&:nth-child(1) {
			padding: 0 67px 0 0;
		}
		&:nth-child(2) {
			padding: 0 74px 0 0;
		}
		&:nth-child(3) {
			padding: 0 23px 0 0;
		}
		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 11px;
			height: 1px;
			background: #ce9455;
		}
		&:nth-child(1):after {
			width: 55px;
		}
		&:nth-child(2):after {
			width: 64px;
		}
		&:nth-child(3):after {
			width: 16px;
		}
		&:last-child {
			margin-bottom: 0px;
		}
	}
}
.advantages-loc__title {
	color: #ce9455;
	font-size: 24px;
	font-weight: 700;
	position: relative;
	text-align: right;
	padding: 0 0 0 28px;
}
.advantages-loc li {
	.advantages-loc__title:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
	&:nth-child(1) .advantages-loc__title:before {
		width: 22px;
		height: 19px;
		background: url("../img/ico-metro.png") no-repeat;
	}
	&:nth-child(2) .advantages-loc__title:before {
		width: 27px;
		height: 14px;
		background: url("../img/ico-air.png") no-repeat;
	}
	&:nth-child(3) .advantages-loc__title:before {
		width: 16px;
		height: 19px;
		background: url("../img/ico-history.png") no-repeat;
	}
}
.advantages-loc__desc {
	color: #2e2e2e;
	opacity: 0.68;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	text-align: left;
}
.location__form-wrap {
	padding-top: 187px;
}

/**
 *
 * Advantages - section styles
 *
 */

.advantages {
	padding: 0 0 63px 0;
	.section__header {
		margin: 0 0 60px 0;
	}
}
.advantages__content {
	background: url("../img/section-bg-2.jpg") no-repeat center top;
	background-size: cover;
}
.advantages__cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 60px 0;
}
.advantage-card {
	width: 45.92334494773519%;
	height: 299px;
	color: #fff;
	margin: 15px;
	background: url("../img/advantage-card-bg.png") no-repeat center center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
	.advantage-card__title{
		width: 100%;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			left: -20px;
		}
	}
}
.advantage-card--water {
	.advantage-card__title{
		&:before{
			width: 60px;
			height: 40px;
			background: url("../img/ico-wave.png") no-repeat;
			top: -10px;
		}
	}
}
.advantage-card--parking {
	.advantage-card__title{
		&:before{
			width: 60px;
			height: 34px;
			background: url("../img/ico-car.png") no-repeat;
			top: -5px;
		}
	}
}
.advantage-card--design {
	.advantage-card__title{
		&:before{
			width: 64px;
			height: 48px;
			background: url("../img/ico-design.png") no-repeat;
			top: -14px;
		}
	}
}
.advantage-card--apartment {
	.advantage-card__title{
		&:before{
			width: 54px;
			height: 64px;
			background: url("../img/ico-bulb.png") no-repeat;
			top: -28px;
		}
	}
}
.advantage-card__title {
	margin: 0 0 18px 0;
	padding: 0 0 43px 0;
	position: relative;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 900;
	&:after {
		content: '';
		width: 1px;
		height: 25px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		background: #fff;
	}
}

/**
 *
 * Layout - section styles
 *
 */

.layout .section__header {
	margin: 0 0 75px 0;
}
.tabs__links {
	max-width: 735px;
	border-bottom: 1px solid #be9259;
}
.tab {
	list-style: none;
	display: inline-block;
	padding: 25px 0;
	margin: 0 77px 0 0;
	cursor: pointer;
	box-sizing: border-box;
	position: relative;
	font-size: 26px;
	font-weight: 900;
	transition: .3s;
	&:hover {
		color: #be9259;
	}
	&.active {
		color: #be9259;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 50%;
			height: 3px;
			background: #be9259;
		}
	}
}
.tabContent {
	position: relative;
	top: -1px;
	z-index: 1;
	padding: 10px 0px;
	border-radius: 0 0 3px 3px;
	overflow: hidden;
	margin: 0 -15px;
}
#tabs {
	.hide {
		display: none;
	}
	.show {
		display: block;
	}
}
.slider-project{
	.item{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		margin: 0 50px;

	}
	.arrow-prev{
		left: 0;
	}
	.arrow-next{
		right: 0;
	}
	.slick-arrow{
		position: absolute;
		top: 50%;
		transform: translate(0,-50%);
		background-color: transparent;
		border: none;
		z-index: 1;
		outline: none !important;
		cursor: pointer;
	}
}
.layout-card {
	box-shadow: 0 0 49px rgba(0, 0, 0, 0.09);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 50px 0;
	padding: 18px 61px 56px 61px;
	width: calc(100% / 2 - 25px);
	&:first-of-type{
		margin-right: 50px;
	}
}
.layout-card__img-wrap {
	width: 54.39252336448598%;
	margin-right: 50px;
}
.layout-card__img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}
.layout-card__text {
	width: 36.26168224299065%;
	margin-top: 110px;
}
.layout-card__title {
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 28px;
	margin-bottom: 20px;
}
.layout-card__desc {
	font-size: 24px;
	font-weight: 500;
	position: relative;
	padding: 0 0 0 55px;
	&:before {
		content: '';
		position: absolute;
		left: 25px;
		top: 50%;
		transform: translateY(-50%);
		width: 23px;
		height: 23px;
		background: url("../img/ico-arrows.png") no-repeat;
	}
}
.layout-card__form-wrap {
	width: 100%;
	margin-top: 15px;
}
.layout-card__form {
	display: flex;
}
.layout-card__form-input {
	width: 47.10280373831776%;
	margin-right: 14px;
}
.layout-card__form-btn {
	height: 39px;
	font-weight: 700;
	padding: 0 34px;
}


/**
 *
 * Presentation - section styles
 *
 */

.presentation {
	background: url("../img/section-bg-3.jpg") no-repeat;
	background-size: cover;
	margin-bottom: 63px;
}
.action-block {
	padding: 90px 74px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	box-sizing: border-box;
}
.action-block--presentation {
	width: 646px;
	height: 475px;
	background: url("../img/presentation-bg.png") no-repeat;
}
.action-block__title {
	font-size: 28px;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
	line-height: 32px;
	margin: 0 0 30px 0;
	padding-bottom: 30px;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: -11px;
		width: 119px;
		height: 1px;
		background: #fff;
	}
}
.action-block__desc {
	color: #fff;
	margin-bottom: 45px;
}
.action-block__text {
	margin-top: 20px;
	font-style: italic;
	color: #fff;
	opacity: 0.28;
}

/**
 *
 * Conditions - section styles
 *
 */

.conditions .section__header {
	margin-bottom: 65px;
}
.conditions__content {
	display: flex;
}
.conditions__item {
	margin: 0 110px 0 0;
	&:last-child {
		margin: 0;
	}
}
.conditions__item-title {
	font-size: 30px;
	font-weight: 900;
	margin: 0 0 16px 0;
	padding: 0 0 23px 0;
	position: relative;
	line-height: 1.1;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 1px;
		width: 77px;
		background: #be9259;
	}
}
.conditions__item-desc {
	margin-bottom: 16px;
	font-size: 16px;
}
.conditions__item-link {
	color: #be9259;
	position: relative;
	font-weight: 700;
	font-style: italic;
	font-size: 16px;
	&:after {
		content: '';
		position: absolute;
		right: -18px;
		top: 50%;
		transform: translateY(-50%);
		width: 10px;
		height: 9px;
		background: url("../img/arrow-link.png") no-repeat;
	}
}

/**
 *
 * View - section styles
 *
 */

.view {
	background: url("../img/section-bg-4-1.jpg") no-repeat center bottom;
	background-size: cover;
	margin-bottom: 63px;
}
.view__content {
	position: relative;
}
.view__marker {
	position: absolute;
	left: 640px;
	top: 0;
	font-size: 24px;
	font-weight: 500;
	padding: 0 0 0 60px;
	&:before {
		content: '';
		position: absolute;
		top: 10px;
		left: 20px;
		width: 1px;
		height: 260px;
		background: #be9259;
	}
	span {
		width: 40px;
		height: 40px;
		background: rgba(190, 146, 89, 0.32);
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 14px;
			height: 14px;
			background: #be9259;
		}
	}
}
.action-1 {
	background: url("../img/section-bg-5.jpg") no-repeat;
	background-size: cover;
	margin-bottom: 62px;
}
.section__inner--action-1 {
	padding: 220px 0 120px 0;
}
.action-block--action-1 {
	width: 935px;
	height: 517px;
	background: url("../img/action-1-bg.png") no-repeat;
}
.action-1__form-wrap {
	.form__title {
		color: #fff;
	}
	.form__input {
		color: #fff;
		&::-webkit-input-placeholder {
			/* Chrome */
			color: #fff;
			opacity: 0.5;
		}
		&:-ms-input-placeholder {
			/* IE 10+ */
			color: #fff;
			opacity: 0.5;
		}
		&::-moz-placeholder {
			/* Firefox 19+ */
			color: #fff;
			opacity: 0.5;
		}
		&:-moz-placeholder {
			/* Firefox 4 - 18 */
			color: #fff;
			opacity: 0.5;
		}
	}
}
.acton-2 {
	position: relative;
}
.acton-2__block {
	width: 440px;
	height: 490px;
	box-sizing: border-box;
	padding: 60px 53px;
	box-shadow: 0 0 32px rgba(0, 0, 0, 0.16);
	margin-top: 90px;
	background: #fff;
}
.acton-2__title {
	font-size: 26px;
	font-weight: 900;
	margin: 0 0 40px 0;
}
.acton-2__input {
	width: 100%;
	margin-bottom: 40px;
}
.acton-2__btn {
	font-weight: 700;
}
.acton-2__text {
	margin-top: 20px;
	font-size: 16px;
	font-weight: 100;
	color: #2e2e2e;
	opacity: 0.34;
	padding: 0 0 0 16px;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 10px;
		height: 13px;
		background: url("../img/lock.png") no-repeat;
	}
}
.acton-2__lamp-1 {
	position: absolute;
	left: 57.29166666666667%;
	top: -138px;
	z-index: -1;
}
.acton-2__lamp-2 {
	position: absolute;
	left: 46.875%;
	top: -210px;
	z-index: -1;
}
.acton-2__sofa {
	position: absolute;
	right: 0;
	bottom: 30px;
	z-index: -1;
}
.acton-3 {
	background: url("../img/section-bg-6.jpg") no-repeat;
	background-size: cover;
	margin: 62px 0 0 0;
	padding: 315px 0 105px 0;
}
.action-block--action-3 {
	width: 935px;
	height: 441px;
	background: url("../img/action-2-bg.png");
	background-size: cover;
}
.action-3__btn {
	font-weight: 700;
	padding: 0 50px;
}
.map {
	background: url("../img/map.jpg") no-repeat 50% 50%;
	background-size: cover;
}
.section__inner--map {
	padding: 145px 0 63px 0;
	position: relative;
}
.map__block {
	padding: 70px;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.68);
	width: 567px;
	float: right;
	background: #fff;
	box-sizing: border-box;
}
.map__nav {
	padding: 0;
	margin: 0;
}
.map__item {
	list-style: none;
	padding: 28px 0 28px 110px;
	font-size: 28px;
	font-weight: 500;
	position: relative;
	strong{
		font-weight: 900;
	}
	&:before {
		content: '';
		position: absolute;
		left: 22px;
		top: 50%;
		transform: translateY(-50%);
		width: 45px;
		height: 68px;
	}
	&:last-child {
		margin: 0;
	}
}
.map__item--neo:before {
	left: 0;
	width: 87px;
	height: 87px;
	background: url("../img/ico-circle.png") no-repeat;
}
.map__neo-loc {
	position: absolute;
	left: 491px;
	top: 387px;
}
.map__item--clinic:before {
	background: url("../img/ico-clinic.png") no-repeat;
}
.map__item--torg:before {
	background: url("../img/ico-cart.png") no-repeat;
}
.map__item--shop:before {
	background: url("../img/ico-shop.png") no-repeat;
}
.map__item--school:before {
	background: url("../img/ico-school.png") no-repeat;
}
.map__item--child:before {
	background: url("../img/ico-child.png") no-repeat;
}
.map__item--bat:before {
	background: url("../img/ico-batut.png") no-repeat;
}
.map__item--luk:before {
	background: url("../img/ico-luk.png") no-repeat;
}
.photogallery{
	.section__header{
		margin-bottom: 0;
	}
}
.gallery-slider{
	margin: 0 auto;
	margin: 0 0 0 auto;
	padding-left: 60px;
	padding-right: 60px;
	.arrow-prev{
		left: 0px;
	}
	.arrow-next{
		right: 0;
	}
	.slick-arrow{
		position: absolute;
		top: 50%;
		transform: translate(0,-50%);
		background-color: transparent;
		border: none;
		z-index: 1;
		outline: none !important;
		cursor: pointer;
	}
	.slick-track{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		padding: 100px 0;
	}
	.item {
		position: relative;
		overflow: hidden;
		transition: all 0.5s linear;
		width: calc(1230px - 320px);

		img{
			filter: blur(10px) opacity(0.2);
			width: 100%;
			transition: all 0.5s linear;
		}
		&.slick-center{
			transform: scale(1.1) ;
			z-index: 1;
			box-shadow: 0px 0px 57px 0px rgba(0, 0, 1, 0.36);
			img{
				filter: blur(0px) opacity(1);
			}
		}
	}
}
.pop-up{
	position: fixed;
	z-index: 10;
	bottom: 50px;
	width: 290px;
	background: url('../img/advantage-card-bg.png');
	border-radius: 5px;
	background-size: cover;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 15px;
	box-sizing: border-box;
	right: 20px;
	display: none;
	.close{
		position: absolute;
		top: 5px;
		right: 10px;
		font-size: 20px;
		color:#ce9455;
		line-height: 1;
	}
	.left-block{
		width: 30%;
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		box-sizing: border-box;
	}
	.right-block{
		width: 70%;
		padding-right: 10px;
		box-sizing: border-box;
		p{
			font-size: 12px;
		}
	}
	img{
		width: 80%;
	}

}
.callback {
	h2{
		text-align: center;
		font-size: 26px;
		font-weight: 900;
		margin-bottom: 40px;
	}
	.form{
		width: 100%;
		flex-direction: column;
		&__input{
			margin-bottom: 20px;
			margin-right: 0;
			width: 100%;
		}
	}
	.modal-dialog{
		max-width: 430px;
		width: 100%;
	}
	.btn{
		margin-top: 30px;
	}
	.modal-content{
		padding: 50px 50px 80px;
		box-sizing: border-box;
	}
}
