/**
 *
 * Footer styles
 *
 */

.footer {
	background: url("../img/footer-bg.jpg") no-repeat center top;
	background-size: cover;
}
.footer__inner {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 56px 0;
}
.footer__left {
	max-width: 400px;
	p {
		font-size: 16px;
		color: #fff;
		padding: 0 0 0 10px;
	}
}
.logo--infooter {
	padding: 0 0 17px 10px;
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 56%;
		height: 1px;
		background: #fff;
	}
}
.footer__right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
