@media only screen and (max-width: 1665px) {
	.offer__text{
		transform: translateX(0);
	}
}
@media only screen and (max-width: 1500px){
	.layout-card{
		padding: 18px 20px 56px;
	}
	.layout-card__form-input{
		width: calc(100% - 241px);
	}
	.layout-card__img-wrap {
		width: 53%;
	}
	.map__neo-loc{
		left: 0;
		transform: translateX(calc(32.8vw - 30px));
	}
}
@media only screen and (max-width: 1410px) {
	.acton-2__sofa{
		left: 480px;
		right: inherit;
	}
	.map__block {
		padding: 70px 35px;
		width: 510px;
	}
}
@media only screen and (max-width: 1320px) {
    /* Header */
    .phone {
        margin-left: 25px;
    }
    .header__nav li a {
       	padding: 8px;
    }

}
@media only screen and (max-width: 1270px) {
	.btn--ghost{
		padding: 0 10px;
		font-size: 12px;
	}
	.phone {
		font-size: 12px;
	}
	.header__nav {
		li{
			a{
				font-size: 12px;
			}
		}
	}
    .container {
        padding: 0 15px;
    }
	.gallery-slider{

		.item{
			width: calc(100vw - 40vw);
		}
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
	.offer{
		&__logo{
			width: 29.5vw;
		}
		&__title{
			font-size: 3.292vw;
		}
		&__text{
			width: 42.761vw;
		}
	}
	.location
	{
		&__img-wrap
		{
			width: 25vw;
		}
		&__desc{
			width: 42%;
		}
	}
	.layout-card{
		width: calc(100% / 2 - 10px);
		&__img-wrap{
			margin-right: 20px;
		}
		&__text{
			margin-top: 17vw;
		}
		&__title {
			font-size: 18px;
		}
		&__desc{
			padding: 0 0 0 30px;
			&:before{
				left: 0;
			}
		}
		&__form-btn{
			padding: 0 20px;
			font-size: 14px;
		}
		&__form-input {
			width: calc(100% - 195px);
		}
		&:first-of-type {
			margin-right: 20px;
		}
	}
	.acton-2{
		&__lamp-2{
			left: 58.875%;
		}
		&__lamp-1{
			left: 79.292%;
		}
	}
}
@media only screen and (max-width: 1199px) and (min-width: 991px) {

	.map{
		&__block
		{
			padding: 35px 15px;
			width: 400px;
		}
		&__neo-loc{
			top: 310px;
			width: 70px;
			transform: translateX(calc(32.8vw - 15px));
		}
		&__item{
			font-size: 20px;
			padding: 20px 0 20px 80px;
			&:before{
				width: 36px;
				height: 55px;
				background-size: cover !important;
			}
			&.map__item--neo{
				&:before{
					width: 55px;
					left: 11px;
				}
			}
		}
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
    /* Header */
	.header__center {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        height: 100%;
        background: #fff;
        box-shadow: -10px 0 98px rgba(0,0,0,0.20);
        padding:60px 20px 20px;
        transform: translateX(100%);
        transition: .6s;
    }
    .header__center.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
    .header__nav {
        flex-direction: column;
    }
    .header__nav li {
        border-bottom: 1px solid #f5f5f5;
    }
    .header__nav li:last-child {
        border-bottom: none;
    }
    .header__nav li a {
        color: #2e2e2e;
		font-size: 16px;
    }
    .mob_menu_link {
        display: block;
		z-index: 2;
		position: relative;
		&.active{
			span{
				background: #000;
			}
		}
    }
    .phone {
        font-size: 16px;
    }
	.btn--ghost{
		font-size: 16px;
	}
	.container{
		padding:0 100px;
	}
	.offer{
		.container{
			padding-left: 10px;
			padding-right: 10px;
		}
		&__title {
			font-size: 5.731vw;
			padding: 0 0 3.302vw;
			margin-bottom: 4.602vw;
			&:after {
				width: 20.834vw;
			}
		}
		&__text {
			width: 77.995vw;
			padding: 7.694vw 3.698vw 9.265vw 14.82vw;
		}
		&__logo {
			width: 58.725vw;
			margin: 0px 0 6.709vw;
		}
		&__inner {
			height: 85.8vw;
		}
	}
	.location{
		.section__inner {
			padding: 63px 0 20px;
		}
		.container{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;

		}
		&__desc {
			font-size: 16px;
			width: 100%;
			margin-bottom: 25px;
		}
		&__right{
			position: initial;
			order: 1;
			transform: translate(0px,0);
			width: calc(100% + 100px);
		}
		&__form-wrap {
			padding-top: 40px;
		}
		&__img-wrap {
			width: calc(100% - 339px);
		}
		.form{
			width: 100%;
			&__input{
				margin-bottom: 30px;
			}
		}
	}
	.advantages{
		&__cards{
			flex-direction: column;
			padding: 60px 25px;
		}
		.advantage-card{
			width: 100%;
			height: 231px;
			margin: 13px 0px;
		}
	}
	.layout{
		.container{
			padding: 0 75px;
		}
		.section__inner--layout{
			padding-top: 25px;
		}
		.section__header{
			margin-bottom: 70px;
		}
	}
	.tabs__links{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		.tab {
			margin: 0 10px 0 0;
			&:last-of-type{
				margin-right: 0;
			}
		}
	}
	.tabContent{
		padding-bottom: 0;
	}
	.slider-project {
		.item{
			flex-direction: column;
			margin:0 40px;
		}
		.layout-card{
			width: 100%;
			margin: 10px 0;
			box-sizing: border-box;
			box-shadow: 0 0 35px rgba(0,0,0,.09);
		}
		.slick-list{
			padding: 40px 0px 20px;
		}
	}
	.action-block--presentation{
		width: 100%;
	}
	.action-block{
		padding: 90px 50px 40px;
		height: auto;
		&__desc{
			font-size: 16px;
			margin-bottom: 40px;
		}
		&__title{
			padding-bottom: 24px;
			margin-bottom: 24px;
		}
		&__text {
			margin-top: 15px;
		}
	}
	.conditions{
		&__content{
			flex-direction: column;
		}
		&__item{
			margin-bottom: 30px;
		}
		.section__inner {
			padding: 20px 0;
		}
		.section__header{
			margin-bottom: 63px;
		}
	}
	.view{
		background-position: -15.5vw 50% !important;
		&__marker{
			left: initial;
			transform: translateX(95px);
		}
		.section__header{
			margin-bottom: 80px;
		}
	}
	.action-block{
		width: 100%;
		.form{
			width: 100%;
			.btn{
				margin-top: 26px;
				width: calc(100% / 2 - 12px);
			}
			.form__input{
				width: calc(100% / 2 - 12px);
				& + .form__input{
					margin-right: 0;
				}
			}
		}
	}
	.action-1{
		position: relative;
		z-index: 2;
	}
	.acton-2{
		.section__inner {
			padding: 28px 0;
		}
		&__lamp-2{
			top: -95px;
			left: 65.875%;
			z-index: 1;
		}
		&__lamp-1 {
			left: 85.292%;
			top: -220px;
		}
		.section__header{
			z-index: 2;
		}
		&__sofa {
			left: 550px;
		}

	}
	.acton-3{
		.section__inner {
			padding: 0px 0 10px;
		}
	}
	.section__inner--map{
		padding-top: 374px;
	}
	.map__block{
		width: 100%;
	}
	.action-block{
		background-size: cover;
	}
    /* Footer */
    .footer__inner {
        flex-direction: column;
        align-items: center;
    }
    .footer__left {
        max-width: 370px;
        text-align: center;
    }
    .footer__left p{
        padding: 0;
    }
    .logo--infooter {
        padding: 0 0 17px 0;
    }
    .logo--infooter:before {
        left: 26px;
    }
    .footer__right {
        flex-direction: column-reverse;
    }
    .phone--infooter {
        margin: 0 0 17px 0;
    }
	.map{
		background-image: url(../img/map.png);
		background-position: center top;
		.section__inner--map {
			padding-top: 48.7vw;
		}
		&__neo-loc {
			transform: translateX(calc(41.8vw - 30px));
			top: 18vw;
		}
	}
	.gallery-slider {
		width: calc(100% + 90px);
		margin-left: -45px;
		margin-right: -45px;
		.item {
			width: 50vw;
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
    /* General */
    .container {
        padding: 0 35px;
    }
    /* Header */
    .header__right .btn {
        display: none;
    }
    .phone{
        margin: 0;
    }
    /* Footer */
    .phone--infooter {
        margin: 0 0 17px 0;
    }
	.offer{
		.container{
			padding: 0;
		}
		&__inner {
			height: 112vw;
		}
		&__text{
			width: 100%;
			padding: 11.46vw 3.698vw 13.750vw 13.334vw;
		}
		&__title {
			line-height: 1.1 !important;
			font-size: 7.71vw;
			padding: 0 0 4.8vw;
			margin-bottom: 6vw;
			&:after {
				width: 33.336vw;
			}
		}
		&__logo {
			width: 70.836vw;
			margin: 0 0 7.509vw;
		}
	}
	.location{
		.section__inner {
			padding: 0px 0 20px;
		}
		&__img{
			object-position: 13% 0;
		}
		&__right{
			align-items: flex-start;

		}
		&__advantages{
			padding-top: 40px;
		}
		&__form-wrap{
			width: 250px;
			position: absolute;
			bottom: 23px;
			.form{
				width: 100%;
			}
			.form__input{
				margin-bottom: 25px;
			}
			.btn{
				margin-top: 20px;
			}
		}
	}
	.advantages{
		&__content{
			.container{
				padding: 0;
			}
		}
		&__cards{
			padding: 60px 0;
		}
		.advantage-card{
			font-size: 16px;
			&__title{
				&:before{
					left: 35px;
				}
			}
		}
	}
	.layout {
		.section__inner--layout{
			padding-top: 0;
		}
		.container{
			padding: 0 50px;
		}
		.section__header{
			margin-bottom: 10px;
		}
	}
	.section{
		&__title {
			font-size: 22px;
		}
		&__subtitle {

			font-size: 21px;
		}
	}
	.tabContent{
		margin-right: -45px;
		margin-left: -45px;
		width: calc(100% + 90px);
	}
	.tab{
		font-size: 18px;
	}
	.layout-card{
		padding-left: 14vw;
		padding-right: 14vw;
		&__img-wrap{
			width: 100%;
			margin-right: 0;
		}
		&__text{
			width: 100%;
			margin-top: 10px;
			text-align: center;

		}
		&__title{
			font-size: 24px;
		}
		&__desc{
			padding-left: 0;
			&:before{
				position: static;
				transform: none;
				display: inline-block;
				margin-right: 10px;
				vertical-align: middle;
			}
		}
		&__form-input{
			width: 100%;
			margin-bottom: 20px;
		}
		&__form{
			flex-direction: column;
		}
	}
	.presentation{
		.container {
			padding: 0 30px;
		}
	}
	.section__inner--presentation {
		padding: 120px 0;
	}
	.action-block
	{

		padding: 55px 30px ;
		&__title {
			font-size: 24px;
		}
		&__desc{
			br{
				display: none;
			}
		}
	}
	.conditions{
		.section__header {
			margin-bottom: 58px;
		}
		.section{
			&__title{
				font-size: 28px;
			}
			&__subtitle{
				font-size: 28px;
			}
		}
		&__item{
			margin-right: 0;
		}
	}
	.view {
		background-position: -37vw 50% !important;
		&__marker{
			font-size: 20px;
			transform: translateX(0px);
		}
	}
	.section__inner--action-1{
		padding: 70px 0;
	}
	.action-1{

		.container{
			padding: 0;
		}
		.action-block{
			&__title{
				text-align: center;
				&:after{
					left: 50%;
					transform: translateX(-50%);
				}
			}
			&__desc{
				text-align: center;
			}
			.form{
				flex-direction: column;
				align-items: center;
				&__title{
					text-align: center
				}
				&__input{
					margin-right: 0;
					margin-bottom: 15px;
				}
			}
		}
	}
	.acton-2{
		&__block {
			width: 100%;
			padding: 60px 35px;
		}
		&__lamp-1,
		&__sofa{
			display: none;
		}
		&__lamp-2 {
			left: initial;
			right: -75px;
		}
		.section__inner{
			padding: 20px 0;
		}
	}
	.action-block{
		&__title{
			text-align: center;
			&:after{
				left: 50%;
				transform: translateX(-50%);
			}
		}
		&__desc{
			text-align: center;
		}
		.btn{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			width: 212px;
			margin: 0 auto;
			box-sizing: content-box;
		}
	}
	.action-1{
		.btn{
			box-sizing: border-box;
		}
	}
	.acton-3{
		padding: 90px 0;
		background-position: -55vw center;
	}
	.section__inner--advantages{
		padding-top: 33px;
	}
	.map{
		.container{
			padding: 0;
		}
		.section__inner--map {
			padding-top: 56.7vw;
		}
		&__block
		{
			padding: 35px 35px;
		}
		&__item--neo{
			&:before{
				width: 55px;
				left: 12px;
			}
		}
		&__neo-loc {
			transform: translateX(calc(56.8vw - 30px));
			top: 19vw;
			width: 55px;
		}
		&__item {
			padding: 20px 0 20px 95px;
			&:before{
				width: 37px;
				height: 55px;
				background-size: cover !important;
			}
		}
	}
	.photogallery{
		.section__inner {
			padding: 10px 0 30px;
		}
	}
	.gallery-slider {
		width: calc(100% + 60px);
		margin-left: -30px;
		margin-right: -30px;
		padding-left: 35px;
		padding-right: 35px;
		.slick-track{
			padding: 30px 0 ;
		}
		.item
		{
			width: 65vw;
			&.slick-center {
				box-shadow: 0 0 17px 0 rgba(0,0,1,.36);

			}
		}
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
	.container{
		padding: 0 15px;
	}
	.phone{
		padding-left: 0;
		font-size: 12px;
		&:before{
			display: none;
		}
	}
	.logo{
		img{
			width: 90px;
		}
	}
	.header__inner{
		height: 50px;
	}
	.location {
		.container{
			padding: 0 15px;
		}
		&__img-wrap {
			width: calc(100% - 316px);
		}
		&__form-wrap {
			width: 220px;
		}
		.form__title {
			font-size: 20px;
		}
	}

	.advantages-loc {
		&__title{
			font-size: 16px;
		}
		li{
			&:nth-child(2) {
				padding: 0px 35px 0 0;
				&:after {
					width: 23px;
				}
			}
		}
	}
	.advantages{
		.advantage-card{
			&:after{
				left: 15px;
			}
		}
	}
	.advantage-card{
		&__desc{
			font-size: 16px;
			padding: 0 20px;
			br{
				display: none;
			}
		}
		&__title{
			font-size: 18px;
			&:before{
				left: 15px !important;
			}
		}
	}
	.layout-card {
		padding-left: 5vw;
		padding-right: 5vw;
	}
	.layout {
		.container{
			padding: 0 15px;
		}
	}
	.tab {
		font-size: 14px;
	}
	.section{
		&__header{
			&:before{
				top: -21px;
				width: 55px;
				height: 62px;
			}
		}
		&__title {
			font-size: 18px;
			margin-bottom: 7px;
		}
		&__subtitle {
			font-size: 16px;
			padding-left: 35px;
		}
	}
	.slider-project{
		.arrow-prev{
			left: 35px;
		}
		.arrow-next{
			right: 35px;
		}
	}
	.presentation
	{
		.container
		{
			padding: 0 15px;
		}
	}
	.action-block {
		padding: 30px 15px;
		&__title {
			font-size: 20px;
			text-align: center;
			&:after{
				left: 50%;
				transform: translateX(-50%);
			}
		}
		&__text,
		&__desc {
			text-align: center;
		}
	}
	.btn{
		font-size: 12px;
		padding: 0 20px;
	}
	.conditions {
		.section__header {
			margin-bottom: 40px;
		}
		&__item-title {
			font-size: 24px;
		}
		.section{
			&__title
			{
				font-size: 18px;
			}
			&__subtitle{
				font-size: 16px;
				padding-left: 35px;
			}
		}
	}
	.acton-2{
		&__block{
			padding: 60px 15px;
		}
		&__title{
			text-align: center;
		}
		&__lamp-2 {
			top: -135px;
		}
	}
	.action-block
	{
		.form
		{
			.form__input,
			.btn
			{
				width: 100%;
			}
		}
	}
	.map{
		.section__inner--map{
			padding-bottom: 20px;
		}
		&__block{
			padding: 10px 15px;
		}
		&__item--neo{
			&:before {
				width: 40px;
				left: 14px;
			}
		}
		&__item{
			font-size: 16px;
			padding: 15px 0 15px 75px;
			&:before {
				width: 26px;
				height: 40px;
			}
		}
	}
	.gallery-slider {
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		.item{
			width: 60vw;
		}
	}
}
